<%- title "#{@author.name}" %>

<h1><%= @author.name %></h1>

<p>Not much to see here, yet. A responsive image grid of books will be here soon, but that's being difficult. </p>


<div class="control_group">
	<% if can? :update, @author %>
		<%= link_to 'Edit', edit_author_path(@author) %> &nbsp;
	<% end %>
	
</div>

<% @books = @author.books %>
<%= render "shared/books" %>
